<div class="jumbotron">
    <h1 class="ReqClassTitle">Requirements Classifier</h1>
    <p class="ReqClassContent">This application takes in the requirements of a project and provides the requirements classified in clusters.&nbsp;</p>
    <p class="text-center"><a class="btn btn-warning" role="button" href="http://rxnlp.com/api-key/#.Wu8mDogvxPY" target="_blank">Get API Key to use the classifier</a></p>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <form (submit)="onClassifyPressed()">
                <div class="form-group">
                	<input [(ngModel)]="apiKey" name="apiKey" class="form-control text-center apiKey" type="text" placeholder="Enter your API Key here">
                </div>
                <div class="form-group">
                	<textarea [(ngModel)]="document" name="document" class="form-control" rows="15" placeholder="Feed in your requirements"></textarea>
                </div>

                <div class="form-group text-center"><button class="btn btn-primary btn-lg btn-block" type="submit">Classify</button></div>
            </form>

            <div *ngIf="this.classified">
                <app-display-data [classifiedData]="this.classified"></app-display-data>
            </div>
        </div>
    </div>
</div>